# Chapter 15: Matching in Observational Studies

In [1]:
from joblib import Parallel, delayed

import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

font = {'family' : 'IBM Plex Sans Condensed',
               'weight' : 'normal',
               'size'   : 10}
plt.rc('font', **font)
plt.rcParams['figure.figsize'] = (6, 6)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

np.random.seed(42)
%load_ext autoreload
%autoreload 1

%load_ext watermark
%watermark --iversions

seaborn          : 0.13.0
sklearn          : 1.3.2
matplotlib       : 3.7.2
matplotlib_inline: 0.1.6
numpy            : 1.24.3
statsmodels      : 0.14.0
pandas           : 2.0.3

## experimental data

In [2]:
import empirical_calibration as ec
import empirical_calibration.data.lalonde as lalonde

treat, ctrl = lalonde.experimental_treated(), lalonde.experimental_control()
lalonde_exp = pd.concat([treat, ctrl])
lalonde_exp.head()

,treatment,age,education,black,hispanic,married,nodegree,earnings1974,earnings1975,earnings1978
0,1.0,37.0,11.0,1.0,0.0,1.0,1.0,0.0,0.0,9930.0460
1,1.0,22.0,9.0,0.0,1.0,0.0,1.0,0.0,0.0,3595.8940
2,1.0,30.0,12.0,1.0,0.0,0.0,0.0,0.0,0.0,24909.4500
3,1.0,27.0,11.0,1.0,0.0,0.0,1.0,0.0,0.0,7506.1460
4,1.0,33.0,8.0,1.0,0.0,0.0,1.0,0.0,0.0,289.7899

In [3]:
y, z = lalonde_exp.earnings1978.values, lalonde_exp.treatment.values
X = lalonde_exp.drop(columns=["earnings1978", "treatment"]).values

In [4]:
def reg_adjust(z, y, X):
    tau_n_fit = sm.OLS(y, sm.add_constant(z)).fit(cov_type="HC2")
    tau_f_fit = sm.OLS(y, np.c_[sm.add_constant(z), X]).fit(cov_type="HC2")
    tau_l_fit = sm.OLS(
        y,
        np.c_[
            sm.add_constant(z),
            X - X.mean(axis=0),
            z.reshape(-1, 1) * (X - X.mean(axis=0)),
        ],
    ).fit(cov_type="HC2")
    resmat = np.r_[
        np.c_[tau_n_fit.params[1], tau_n_fit.bse[1], tau_n_fit.tvalues[1]],
        np.c_[tau_f_fit.params[1], tau_f_fit.bse[1], tau_f_fit.tvalues[1]],
        np.c_[tau_l_fit.params[1], tau_l_fit.bse[1], tau_l_fit.tvalues[1]],
    ]
    return pd.DataFrame(
        resmat, index=["neyman", "fisher", "lin"], columns=["coef", "se", "t"]
    )


reg_adjust(z, y, X)

               coef          se         t
neyman  1794.342404  670.996546  2.674146
fisher  1676.342644  677.049148  2.475954
lin     1621.583101  694.721574  2.334148

### Matching

In [24]:
def one_nn_att(X, z, y, k=1, bias_corr_mod=None):
    """Matching estimator for the ATT using 1-NN.

    Args:
        X (2d Array): Covariate Matrix
        z (1d Array): Treatment Indicator
        y (1d Array): Outcome vector
        k (int, optional): Number of neighbours. Defaults to 1.
        bias_corr_mod (sklearn model, optional): Model used for bias correction. Defaults to None.

    Returns:
        estimate, ai SE, and optionally Otsu and Rai (2017) SE
    """
    from sklearn.neighbors import KNeighborsRegressor

    n, n1 = len(z), z.sum()
    mod = KNeighborsRegressor(n_neighbors=k)
    treat_nn_mod = mod.fit(X[z == 0, :], y[z == 0])
    Y0hat = treat_nn_mod.predict(X[z == 1, :])
    point_est = y[z == 1].mean() - Y0hat.mean()
    # store neighbour index for each treated
    _, neighbours = mod.kneighbors(X[z == 1, :])
    if bias_corr_mod:  # bias correction with outcome model
        # outcome model
        muhat = bias_corr_mod.fit(X[z == 0, :], y[z == 0])
        # bias correction term is μ^0(x_i) - μ^0(x_j) for each
        bias_corr_term = muhat.predict(X[z == 1, :]) - muhat.predict(
            X[z == 0, :][neighbours.flatten(), :]
        )
        point_est = y[z == 1].mean() - Y0hat.mean() - bias_corr_term.mean()
    ######################################################################
    # abadie/imbens variance
    ######################################################################
    # 1/N1^2 ∑ (Y_i - \hat{Y}_i - \hat{τ})^2
    first_term = 1 / (n1**2) * np.sum(y - treat_nn_mod.predict(X) - point_est) ** 2
    # second term
    # 1/N1^2 ∑ (K_i^2 - K_sq) σ^2
    mod2 = KNeighborsRegressor(n_neighbors=k)
    ctrl_nn_mod = mod2.fit(X[z == 1, :], y[z == 1])
    Yhat_all = np.zeros(n)
    Yhat_all[z == 1], Yhat_all[z == 0] = Y0hat, ctrl_nn_mod.predict(X[z == 0, :])
    sigma2 = 1 / 2 * np.sum((y - Yhat_all) ** 2)
    # K terms: counts are the number of times each ctrl obs is matched with a treated obs
    ctrl_index, counts = np.unique(neighbours, return_counts=True)
    K, Ksq = np.zeros(n), np.zeros(n)
    K[ctrl_index], Ksq[ctrl_index] = counts / k, counts / (k**2)
    # conditional variance of Y given X, W
    second_term = 1 / (n1**2) * np.sum((K**2 - Ksq) * sigma2)
    v_ai = first_term + second_term
    ######################################################################
    # otsu and rai
    ######################################################################
    if bias_corr_mod:
        psi = z * (y - muhat.predict(X)) - (1 - z) * (K / k) * (y - muhat.predict(X))
        v_or = (1 / (n1**2)) * np.sum((psi - point_est * n1 / n) ** 2)
        return point_est, np.sqrt(v_ai / n), np.sqrt(v_or)
    return point_est, np.sqrt(v_ai / n)

In [25]:
# wrapper function that bootstraps the standard error
def nn_att(X, z, y, k=1, bias_corr_mod=None, n_boot=1e3):
    analytic_est = one_nn_att(X, z, y, k=k, bias_corr_mod=bias_corr_mod)
    # bootstrap (invalid?)
    n = len(z)

    def bootfn(*args):
        # draw indices
        ids = np.random.choice(np.arange(n), size=n, replace=True)
        return one_nn_att(X[ids,], z[ids], y[ids], k=1, bias_corr_mod=bias_corr_mod)

    boot_est = Parallel(n_jobs=-1)(delayed(bootfn)(i) for i in range(int(n_boot)))
    boot_est = np.stack(boot_est)
    boot_se = boot_est[:, 0].std()
    if bias_corr_mod:
        return pd.DataFrame(
            np.c_[*analytic_est, boot_se], columns=["est", "ai_se", "or_se", "boot_se"]
        )
    return pd.DataFrame(
        np.c_[*analytic_est, boot_se], columns=["est", "ai_se", "boot_se"]
    )

No bias correction

In [26]:
nn_att(X, z, y)

           est       ai_se    boot_se
0  2011.153187  585.758733  853.85284

bias correction with OLS

In [27]:
from sklearn.linear_model import LinearRegression

nn_att(X, z, y, bias_corr_mod=LinearRegression())

           est       ai_se      or_se     boot_se
0  1922.564125  583.441871  668.21205  846.011315

Bootstrap SE is more in-line with the OLS SE, while AI SE looks too small.

### observational

In [28]:
# read CPS data
dat = pd.read_table("cps1re74.csv", delimiter=" ")
dat["u74"], dat["u75"] = 1 * (dat.re74 == 0), 1 * (dat.re75 == 0)
z, y = dat.treat.values, dat.re78.values
X = dat.drop(columns=["treat", "re78"]).values

Regression is bad.

In [29]:
reg_adjust(z, y, X)

               coef           se          t
neyman -8506.495361   583.442609 -14.579832
fisher  1067.546135   628.438879   1.698727
lin    -4265.800513  3211.771843  -1.328177

No bias correction : Much better than OLS

In [30]:
nn_att(X, z, y)

           est        ai_se     boot_se
0  1521.376503  1244.056155  862.221261

bias correction with OLS

In [31]:
nn_att(X, z, y, bias_corr_mod=LinearRegression())

           est        ai_se       or_se     boot_se
0  1929.466879  1465.478449  887.049183  845.413394

AI SE is now much bigger than boot, potentially because the second term (conditional variance) dominates. Otsu and Rai (2017) SEs look reasonable throughout.